
html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.image-replace {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}
.lt-ie8 .image-replace {
    
    direction: ltr;
    text-indent: -9999px;
}
.image-replace:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}
.removed {
    display: none !important;
    visibility: hidden;
}
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.hidden.focusable:active,
.hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}
.lt-ie8 .clearfix {
    zoom: 1;
}
body {
    background: url(../img/woodgrain.jpg) repeat;
    font-family: "Helvetica", "Arial", sans-serif;
    overflow-x: hidden;
}
.card {
    background-repeat: no-repeat;
    background-size: 100%;
    direction: ltr;
    position: absolute;
    text-indent: -9999px;
}
.card-title {
    background-image: url(../img/card-title.png);
    height: 290px;
    left: 1.063em;
    top: 1.563em;
    width: 265px;
    z-index: 2;
}
.card-description {
    background-image: url(../img/card-description.png);
    height: 288px;
    left: 16.188em;
    top: 4.188em;
    width: 263px;
    z-index: 1;
}
.card-date {
    background-image: url(../img/card-date.png);
    height: 295px;
    left: 32.813em;
    top: 0.563em;
    width: 271px;
}
.card-shoe {
    background-image: url(../img/card-shoe.png);
    bottom: 0;
    height: 134px;
    left: 45em;
    z-index: 1;
    width: 150px;
}
.card-corner {
    background-image: url(../img/card-corner.png);
    bottom: 1.875em;
    height: 244px;
    right: 0;
    z-index: 2;
    width: 63px;
}
.invitation {
    background-color: #fff;
    bottom: 0;
    box-sizing: border-box;
    box-shadow: 1px 6px 4px 4px rgba(0, 0, 0, 0.40);
    left: 0;
    margin-top: 262px;
    padding: 1.688em 8.063em 1.813em 1.813em;
    position: absolute;
    width: 46em;
    z-index: 8;
}
h1 {
    font-size: 1.875em;
    margin-bottom: 0.5em;
}
form > button {
    background-color: #393939;
    border: 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 1.250em;
    padding: 0.938em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
form > button:hover,
form > button.selected {
    background-color: #f78b36;
}
.rspv-message {
    background: rgb(247, 139, 54);
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFF;
    height: 20%;
    margin-bottom: 12px;
    padding: 5px 12px;
    width: 100%;
}
.spinner {
    background: url('../img/spinner.gif') no-repeat;
    background-size: 16px;
    display: none;
    float: left;
    height: 16px;
    margin-right: 6px;
    width: 16px;
}
.loading .spinner {
    display: block;
}
@media only screen and (max-height: 37.5em) {
    .invitation {
        bottom: inherit;
    }
}
@media only screen and (max-width: 50em) {
    .card-date {
        left: 65%;
        z-index: 4;
    }
}
@media only screen and (max-width: 40em) {
    .card-title {
        left: 2.5%;
        width: 40%;
    }
    .card-description {
        left: 40%;
        width: 40%;
    }
    .card-date {
        left: 60%;
        width: 40%;
    }
    .card-shoe,
    .card-corner {
        display: none;
    }
    .invitation {
        padding: 1.8em;
        width: 100%;
    }
}
